.background-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  justify-content: center;
  padding: 70px;
  color: #212a3e;
  border-radius: 10px;
  box-shadow: 1px 10px 20px 1px #000000;
}
.form-input {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  background: transparent;
  transition: border-color 0.2s;

  margin-bottom: 10px;
}
.form-input:focus {
  font-size: 1rem;
}

.form-login {
  display: flex;
  flex-direction: column;
}
.entrar-button {
  background: #212a3e;
  color: white;
}

.entrar-button:hover {
  background: #394867;
  border-color: #9ba4b5;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;

}

.rpg-title{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  font-size: 35px;
  font-family: 'Kaushan Script', cursive;
  text-shadow: 0 10px 10px rgba(0, 0, 0, 0.507);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #0000008f;
}

.rpg-title-container{
  display: flex;
  flex-direction: column;
  align-self: start;
}


@media (max-height: 720px){
  .rpg-title{
    font-size: 25px;
  }
  .background-form{
    padding: 40px;
    font-size: small;
  }
}


@media (max-width: 660px){
  .rpg-title{
    font-size: 25px;
  }
  .background-form{
    padding: 40px;
    font-size: small;
  }
}