/* Home.css */
.main-container-home {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .diplayed-sheet {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #212A3E;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .nav-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .home-button {
    padding: 10px 20px;
    background: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    border: 1px white solid;
    color: white;
  }
  
  
  .msg-button-login {
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.726);
   
  }
  .msg-button-login button{
    box-shadow: 1px 5px 10px 1px #00000093;
  }
  
  @media (min-width: 768px) {
    .nav-buttons {
      flex-wrap: nowrap;
    }
  
    .home-button {
      width: auto;
      margin-right: 10px;
      margin-bottom: 0;
    }

  }

  @media (max-width: 800px){
    .diplayed-sheet{
      width: 95%;
  }
  }
  
  @media (max-width: 660px) {

    .diplayed-sheet{
        width: 80%;
    }

    .nav-buttons {
      flex-wrap: nowrap;
      gap: 10px;
    }

    .home-button {
      width: auto;
      margin-top: 10px;
      margin-bottom: 0;
      font-size: small;
    }

  }
  