.item-select {
    width: 20px;
    border: none;
    background: transparent;
  }
  .item-container {
    display: flex;
    align-items: center;
  }
  
  .border-style {
    width: 45px;
    height: 45px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
  }
  .img-container {
    width: fit-content;
  }
  
  .tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .img-container:hover .tooltip {
    display: block;
  }
  