.player-sheet-main-container {
  display: flex;
  flex-direction: column;
}
.find-sheet-button {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 70px;
  height: 40px;
  font-size: 80%;
  font-weight: bold;
  justify-content: center;
  background: none;
  color: white;
  border: 1px white solid;
}

.find-sheet-container {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}

.find-sheet-input {
  border: 0;
  border-bottom: 2px solid white;
  outline: 0;
  width: 80px;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: 0.2s;

  margin-bottom: 10px;
}

.set-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
  padding-bottom: 20px;
}
.set-container h2 {
  margin: 10px;
}

.set-space {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.life-mana-container {
  text-align: center;
}
.attributes-main-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.your-character {
  display: flex;
  background: #394867;
  border-radius: 5px;
  justify-content: center;
  padding: 0px 10px;
}
.money-container {
  padding: 0;
  margin: 0;
}

.character-money {
  list-style: none;
  display: flex;
  justify-content: left;
  padding: 0;
  margin: 0;
}

.increase-decrease-button {
  background: none;
  border: 1px solid white;
  color: white;
  width: 25px;
  height: 25px;
  padding: 0;
  margin: 0 10px;
  text-align: center;
  border-radius: 3px;
  font-size: small;
}

.to-upper-case {
  text-transform: uppercase;
  
}

.section-separator {
  border-bottom: 1px solid white;
  width: 100%;
}

@media (max-width: 660px) {
  .attributes-main-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .set-container {
    align-items: center;
  }

  .teste {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .attributes {
    align-items: center;
  }

  .character-money {
    justify-content: center;
  }
  .life-mana-container {
    display: flex;
  }
}
