.text-area-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-area-save-button {
  background: none;
  border: 1px solid white;
  color: white;

  font-size: small;
  margin-left: 5px;
}

.textareas-container {
  resize: vertical;
  overflow-y: scroll;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border: 0;
}

@media (max-width: 660px) {
  .textareas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text-area-save-button {
    margin-top: 10px;
  }
}
